* {
	box-sizing: border-box;
}

body {
	font-size: 2.5rem;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.list {
	list-style-type: none;
	display: flex;
}

.list > li {
	margin-right: 1rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	.header{
		background-color: ghostwhite;
		height: 70px;
		border-bottom: 1px solid black;
		display: flex;
		justify-content: center;
		.message {
			font-weight: 600;
			font-size: 16px;
			margin-bottom: 18px;
			p {
				margin: 0;
    		padding: 12px;
			}
			&.success {
				border: 1px solid greenyellow;
				background-color: rgba(64,255,36,0.2);
			}
			&.error {
				border: 1px solid red;
				background-color: rgba(255,36,61,0.2);
			}
			&.info {
				border: 1px solid aqua;
				background-color: rgba(36,218,255,0.2);
			}
		}
	}
	
	.content {
		display: flex;
		justify-content: center;
		.overlay {
			position: absolute;
			background-color: transparent;
			height: 17vh;
    	width: 51vh;
		}
	}
	
	.footer {
		background-color: ghostwhite;
		height: 50px;
		border-top: 1px solid black;
		display: flex;
		justify-content: space-evenly;
	}
	
	.shell {
		background-color: #c3b6b6;
		width: 50px;
		height: 50px;
		border: 1px solid black;
	}
	
	.button {
		width: 100px;
		border: unset;
		cursor: pointer;
		&.disabled {
			cursor: not-allowed;
			opacity: 0.5;
		}
	}
	
	.image {
		height: 140px;
		visibility: visible;
		opacity: 1;
		&.hide {
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s linear 0.10s, opacity 0.10s linear;
		}
	}
}


